{% extends "cms/base.html" %}
      {% block content %}
       <div id="store-categories">
         <ul class="special-head">
            <li><a href="/index/">Home</a></li>
            <li><a href="/view_store_category/">Store Categories</a></li>
            <li>Add Category to Store</li>
          </ul>
         <button class="add-more"><span><i class="fas fa-plus"></i></span>Add More</button>
         <form action="/add_store_category/" method="POST" enctype="multipart/form-data" class="add-form">
         	{% csrf_token %}
            <div class="inputs-wrapper">
               <div class="name-field">
                  <label for="name">Name: </label>
                  <input type="text" name="name" placeholder="Don't use space please" required>
               </div>
               <div class="desc-field">
                  <label for="desc">Description: </label>
                  <input type="text" name="des" placeholder="Don't use space please" required>
               </div>
               <div class="img-field">
                  <label for="image">Image: </label>
                  <input type="file" name="image" required>
               </div>           
            </div>
            <button class="add-btn" href="#" type="submit">Create</button>
         </form>
         
         <a class="back-btn" href="/view_store_category/"><span>&#8592;</span> Back</a>
      </div>

{% endblock content %}        
